/* EditorHeader.css */
.headerMainContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Background color for the header */
    color: white; /* Text color for the header */
  }
  
  /* Style for the buttons */
  .downloadButtonContainer,
  .runButtonContainer {
    margin-right: 10px; /* Add margin between the buttons for better spacing */
  }
  
  /* Style for the buttons themselves */
  button {
    padding: 8px 16px; /* Add padding to the buttons for better aesthetics */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  